/* .header {
  color: red;
  text-align: center;
  margin: -150px 0px 0px 0px;
}
#button {
  float: right;
  margin: 2px;
  padding: 10px;
}

#form {
  border: 1px solid black;
  padding: 10px;
  margin: -20px 2px 0px -20px;
  height: 280px;
}
.flex-container1 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.flex-item-left1 {
  background-color: #ffffff;
  padding: 10px;
  flex: 30%;
}

.flex-item-right1 {
  background-color: dodgerblue;
  background-color: #ffffff;
  border: 1px solid black;

  padding: 10px;
  margin: -10px -5px 0px -1px;
  flex: 70%;
} */
