* {
  align-items: center;
  justify-content: center;
  
}
.header {
  overflow: hidden;
  background-color: aqua;

}

.header a {
  border: 1px solid black;
  margin: 2px;
  float: right;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.flex {
  display: flex;
}

.nav {
  background-color: beige;
  height: 100vh;
  width: 200px;
}

.nav a{
  padding: 20px ;
  padding-bottom: 80%;
  font-size: 20px;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  display: flex;
}

.main {
  width: 100%;
  flex: 1;
  height: 100vh;
  background-color: blanchedalmond;
  /* align-items: center;
  align-self: center; */
  /* padding: 20px; */
}

input,textarea {
  margin: 10px 10px 40px 0px;
  padding: 10px;
}
input{
  /* width: 300px; */
}
form{
  font-size: 20px;
}
/* 
label{
  margin: 10px 10px 40px 0px;
  padding: 10px;
} */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left {
  width: 50%;
  padding-top: 40px;
  padding-left:150px;
}
.right {
  width: 50%;
  padding-top: 40px;
  padding-left: 50px;
}
.c {
  flex-direction: column;
}
.check {
  display: inline-block;
  margin: 10px;
}

@media screen and (max-width: 600px){
  .flex{
    flex-direction: column;
  }

  .main-content{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .nav{
    width: 100%;
  }
}
